<div class="card-body">
    <div class="row justify-content-center">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ form_start(form, {'attr': {'class': 'form-inline col-md-8 col-12 align-self-center'}}) }}

            <div class="form-group col-xl-8 col-lg-7 col-md-12">
                {{ form_widget(form.content, {'attr': {'class': 'form-control col-sm-12 st-comment'}}) }}
            </div>

            {#  Automatic generation of fields not yet written.
                In this example, it would be the CSRF field (automatically managed by Symfony !)
                and all hidden fields. #}
            {{ form_rest(form) }}

            <div class="form-group col-xl-4 col-lg-5 col-md-12">
                <button type="save" class="btn btn-primary col-sm-12">Laisser un commentaire</button>
            </div>

        {{ form_end(form) }}            
    {% else %}
        <div class="col-12">
            Veuillez-vous <a href="{{ path('ST_login') }}">connecter</a> pour poster un commentaire.
        </div>
    {% endif %}
    </div>
</div>